<!DOCTYPE html>
<html ng-app="unicon">
	<head>
		<meta charset="utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="msapplication-tap-highlight" content="no" />
		<title>unicon</title>
		<!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
		<meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="unicon">
<link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Gudea:400,700' rel='stylesheet' type='text/css'>

<!-- <link href='http://fonts.googleapis.com/css?family=Overlock|Permanent+Marker' rel='stylesheet' type='text/css'> -->

<link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Open+Sans' rel='stylesheet' type='text/css'>
		
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/plugins.css" />
	</head>
	<body ng-controller="CreateCtrl">
		<header>
		  <div class="innerWrap">
		  <div class="col4">
		  <a href="index.html" class="icon-x"></a>
		  </div>
		  </div>
		  </header>
		<div class="innerWrap">
			<form method="get" data-ajax="true" ng-submit="formSubmit()">
			
			<div id="createForm">
				<div class="item">
					<label for="name">Titel eingeben:</label>
					<input type="text"  id="name" name="name" ng-model="jam.name" >
				</div>
					

				<div class="item">
					<label for="description">Beschreibung:</label>
					<textarea name="description" id="description" rows="3" cols="3" ng-model="jam.description"></textarea>
				</div> 


				<div class="item">
					<label for="genre">Genre:</label> 
					<input type="hidden" name="genre_id" id="genre_id" ng-model="jam.genre_id"> 
					<a class="item item-radio nomarg" ng-repeat="genre in genres" data-id="{{genre.id}}" ng-click="updateGenre(genre.id)">
						<div class="item-content" style="background: url(images/{{genre.image}}) left top no-repeat;">
							{{genre.name}}
						</div>
					</a> 
				</div> 

				<div class="item instrumentSelection">
					<label for="instrument">Instrument:</label> 
					<label ng-repeat="instrument in instruments" value="{{instrument.id}}" for="{{instrument.icon}}" class="icon-{{instrument.icon}}">
						<input type="radio" id="{{instrument.icon}}" value="{{instrument.id}}" name="instrument_id" ng-model="user.instrument_id">
						{{instrument.instrumentname}}
					</label>
				</div> 


				<div class="item no-pad">
					<div class="col4">
						<label for="lat">Ort makieren:</label> 
						<input type="hidden" name="lat" id="lat" ng-model="jam.lat" />
						<input type="hidden" name="lng" id="lng" ng-model="jam.lng"  />
					</div>
					<div id="map"></div>
				</div>


				<div class="item">
					<div id="anzahl">
						<label for="max_length">Dauer</label>
						<input type="range" min="5" max="30" id="max_length" onchange="outputUpdate(value)" ng-model="jam.max_length" name="max_length">
						<output for="max_length" id="max_length">{{jam.max_length}}</output>
						<script type="text/javascript">
							function outputUpdate(vol) {
								document.querySelector('#max_length').value = vol;
							}
						</script>
					</div>
				</div>

				

				<!-- <div class="item">
					<label for="max_length">Dauer:</label> 
					<input type="number" name="max_length"  id="max_length" ng-model="jam.max_length" /><br>
				</div> -->

				<div class="item">
					<label for="startDate">Zeitpunkt:</label> 
					<input type="datetime-local" name="startDate" id="startDate" ng-model="jam.startDate"/>
				</div> 

				<div class="item no-pad detailView">
					<div class="coverPic">
						<h2 class="caption">{{jam.name}}</h2>
						<img class="genreImage"src="img/genreDetailansicht.png">
					</div>	
					<div class="list-item">
						<p>{{jam.description}}</p>
					</div>
					<div class="list-item">
						<div><span class="icon-calendar"></span>{{jam.startDate}}</div>
						<div class="col2 no-marg"><span class="icon-clock"></span>{{jam.max_length}} Minuten</div><div class="col2 no-marg">
						<!-- <span class="icon-user"></span>4 Musiker</div> -->
					</div>
						
					<div class="list-item">

					<!--<h2>afihjepfjwa pfjawpifjpwiefjpow afjpfjpwejf wjf wiefjwefjwoi fjwoif jwfijoi</h2>
					 <div id="thirdRow">
						<span class="icon-calendar"></span>
						<h2>18. Januar 20:00 Uhr</h2>
					</div>

					<div id="fourthRow">
						<span class="icon-clock"></span>
						<h2>15 Min.</h2>
						<span class="icon-user"></span>
						<h2>3 Spieler</h2></br>
					</div>
								
					<div id="fifthRow">
						<span class="icon-location"></span>
						<h2>Darmstadt: 1km</h2>
					</div> -->

				<!-- 	<div id="sixthRow"> -->
						<h2>Genre: Rock</h2>
						<span class="icon-drums"></span>
						<span class="icon-guitar"></span>
						<span class="icon-bass"></span>
						<span class="icon-syntie"></span>
					</div>
					<input type="submit" value="Send jam">

				</div>

					<!-- <div class="item overview">
					<button ng-click="update()">update</button>
					</div> -->
			</div>
				
			</form>
		</div>
		

		<script type="text/javascript" src="cordova.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>

		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
		<script type="text/javascript" src="http://kaz.kochab.uberspace.de/MP3-unicon/unicon/www/js/plugins.js"></script>
		<script type="text/javascript" src="js/jquerymobile.js"></script>
        <script src="js/angularjs-geolocation.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="js/controller_create.js"></script>
		<script type="text/javascript" src="js/services.js"></script>


		<script type="text/javascript">
		
$.fn.serializeObject=function(){"use strict";var a={},b=function(b,c){var d=a[c.name];"undefined"!=typeof d&&d!==null?$.isArray(d)?d.push(c.value):a[c.name]=[d,c.value]:a[c.name]=c.value};return $.each(this.serializeArray(),b),a};

			</script>
		
	</body>
</html>
